<!DOCTYPE html>
<html lang="en-US">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>
<div class="container" ng-app="myApp">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>{{title}}</h1>
			</div>
		</div>
		<div>ui-view</div>
	</div>
	<scrfipt type="text/ng-template" id="loginui">
   <h3> Log in to your Accounts </h3>
   <form ng-submit = "form-submit()"  class="form">
   	<div class="form-group" show-errors>
   		<input type="text" class="form-control" ng-model="username" placeholder="Personal ID" required="" 
   		ng-minlength=8
        required
        ng-unique="{key: 'users', property: 'username'}"
        ng-pattern="/^[a-zA-Z0-9]*$/"
        autofocus />
        <span class="glyphicon glyphicon-ok form-control-icon success"></span>
        <p class="help-block" ng-show="form.username.$error.required">Username is required.</p>
        <p class="help-block" ng-show="form.username.$error.pattern">Username must be letters and numbers only.</p>
        <p class="help-block" ng-if="form.username.$error.minlength">Must be at least 8 characters.</p>
        <p class="help-block" ng-show="form.username.$error.unique">Username is already taken.</p>

   	</div>
   	<div class="form-group">
   	<input type ="password" class="form-control"  ng-model="password" placeholder="Password" required="" />
   	</div>

   	<div class= "form-group"><button type="submit" class="btn-success">Log In</div>
   </form>
</div>

</body>
</html>